<header class="py-3">
    <nav class="">
        <div class="container-xxl d-flex flex-wrap">
            <a id="header-title" href="{{ '/' | relative_url }}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto h4">
                {% if site.title-icon %}<span class="me-2">{% include icon.html icon=site.title-icon %}</span>{% endif %}
                {{ site.title }}
            </a>
            <form class="ms-auto mb-3 mb-lg-0" role="search" id="search" onsubmit="site_search(); return false;">
                <input id="site-search" class="form-control" type="search" placeholder="Search" aria-label="Search box">
            </form>
        </div>
    </nav>
</header>
<script>
    function site_search() {
    var query = document.getElementById("site-search").value;
    window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
    }
</script>