<!-- Bootstrap JS bundle -->
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- load other js -->
{% if page.foot %}{% include {{ page.foot }} %}{% endif %}
{% if layout.foot %}{% include {{ layout.foot }} %}{% endif %}
{% if layout.gallery == true or page.gallery == true %}<script src="{{ '/assets/lib/lazysizes.min.js' | relative_url }}" async></script>
<script src="{{ '/assets/lib/spotlight.bundle.js' | relative_url }}" defer></script>{% endif %}
{% if site.anchor_headings != false %}{% include template/highlight-anchor-links.html %}{% endif %}
{% include template/search-js.html %}
{% include template/scroll-to-top.html %}
