/* smooth scroll for back to top, unless user opt out */
html {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
}

/* tweak defaults if variables set */
body {
    @if variable-exists(base-font-size) { font-size: $base-font-size; }
    @if variable-exists(text-color) { color: $text-color; }
}
@if variable-exists(link-color) {
    a {
        color: $link-color;
        @if variable-exists(text-color) {
            &:hover {
                color: $text-color; 
            }
        }
    }
}
/* remove link underline */ 
a { text-decoration: none; }

/* setup header */ 
@if variable-exists(header-background) {
    header { 
        background: $header-background;
    }
}
#header-title {
    @if variable-exists(header-text-color) {
        color: $header-text-color;
    } @else {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
    }
    text-decoration: none;
}

/* setup breadcrumb area */
#breadcrumb-header {
    display: block;
    // make sticky
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    // set breadcrumb divider type
    nav {
        --bs-breadcrumb-divider: '>';
    }
    // set custom background color
    @if variable-exists(breadcrumbs-background) {
        background: $breadcrumbs-background;
    } @else {
        background: rgb(33, 37, 41);
    }
    // set breadcrumb text color
    .btn, .breadcrumb-item, .breadcrumb-item a, .breadcrumb-item::before {
        @if variable-exists(breadcrumbs-text-color) {
            color: $breadcrumbs-text-color;
            border-color: $breadcrumbs-text-color;
        } @else {
            color: #fff;
            border-color: #fff;
        }
    }
}
// add margin to headings so anchor links line up
h1, h2, h3, h4, h5, h6, #maincontent {
  scroll-margin-top: 80px;
}
// anchor highlight style
.anchor-highlight {
    text-decoration: green wavy underline;
}

/* set up sidebar + content flex grid */ 
@media (min-width: 992px) {
    #wrapper {
        grid-template-columns: 1fr 5fr;
    }
}
@media (min-width: 768px) {
    #wrapper {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr;
    }
}
#sidebar-wrapper {
    grid-area: sidebar;
}
#page-content-wrapper {
    grid-area: main;
    order: 1;
    min-width:0;
}

/* set up sidebar display toggle for mobile */
#sidebar-wrapper {
    display: none;
    z-index: 98;
}
#sidebar-wrapper.sidebar-show {
    display: block;
}
#sidebar-wrapper {
    // make sticky
    position: -webkit-sticky;
    position: sticky;
    // place below breadcrumbs
    top: 3rem;
    height: calc(100vh - 3rem);
    overflow-y: auto;
}
/* set up sticky sidebar for desktop */
@media (min-width: 768px) {
    #sidebarToggle {
        display: none;
    }
    #sidebar-wrapper {
        display: block;
    }
}

/* set up sidebar nav item styles */
.side-bar-item {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .75);
    background-color: transparent;
    border: 0;
}
.side-bar-item:hover, .side-bar-item:focus {
    color: rgba(0, 0, 0, .85);
    background-color: $active-nav-color;
}
.btn-toggle::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}
.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: $active-nav-color;
}
a.nav-active {
    background-color: $active-nav-color;
}
#sidebar-footer {
    margin-left: 0.5rem;
    margin-right: 5rem;
}

/* prev next button color */
@if variable-exists(next-button-color) {
    .btn-next {
        border-color: $next-button-color;
    }
}

/* skip nav for accessibility, based on https://webaim.org/techniques/skipnav/ */
#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-500px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
#skip-to-content a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

/* feature include tweaks */
.feature-alert p:last-of-type { margin-bottom: 0; }
@media (min-width: 768px) {
    .feature-w-25 {
        width: 25%!important;
    }
    .feature-w-50 {
        width: 50%!important;
    }
    .feature-w-75 {
        width: 75%!important;
    }
    .feature-w-100 {
        width: 100%!important;
    }
}

/* code blocks */
div.highlighter-rouge {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    overflow: auto;
    padding: 1rem 1.5rem;
    border-radius: .25rem;
}

/* term highlighting */
.term {
    font-size: 1.3rem;
    font-weight: bold;
}

/* scroll to top */
#scroll-to-top {
    display: none; 
    position: fixed; 
    bottom: 35px; 
    right: 20px; 
    z-index: 99;
    font-size: 40px; 
}

/* bootstrap icons tweaks */
.bi { 
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom; 
    overflow: hidden;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}

/* search */
.search-result-highlight {
    text-decoration: green wavy underline;
}
