---
# front matter
---

// customization options
// these variables are set in "_config.yml"
{% if site.header-bg-color %}$header-bg-color: {{ site.header-bg-color }};{% endif %}
{% if site.header-text-color %}$header-text-color: {{ site.header-text-color }};{% endif %}
$active-nav-color: {{ site.active-nav-color | default: '#d2f4ea' }};
$text-color: {{ site.text-color | default: '#111 !default' }};
$link-color: {{ site.link-color | default: '#2a7ae2 !default' }};
$base-font-size: {{ site.base-font-size | default: '1.1rem' }};

// Import partials.
@import
  "template", "custom"
;
