<!DOCTYPE html>
<html lang="en" >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        
        <div class="sidebar-heading border-bottom bg-light">{% if site.title-icon %}{% include icon.html icon=site.title-icon %} {% endif %}{{ site.title }}</div>
        
        <div class="list-group list-group-flush">
          {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'name' | sort: 'nav_order', 'first' %}
          {% for p in nav_pages %}
          <a class="list-group-item list-group-item-action p-3 {% if page.url == p.url %} list-group-item-primary{% else %} list-group-item-light{% endif %}" href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
          {% endfor %}
        </div>

      </div>

      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          
          <!-- Top navigation -->
          <nav aria-label="breadcrumb" class="mt-2 mb-3">
            <ol class="breadcrumb h4">
              <li class="breadcrumb-item">
                <button class="border rounded" id="sidebarToggle" title="Toggle Sidebar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg></button>
              </li>
              <li class="breadcrumb-item "><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
              {% if page.parent %}<li class="breadcrumb-item">{{ page.parent }}</li>{% endif %}
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
          </nav>

          <!-- Page content-->
          <main id="maincontent" role="main" aria-label="Content">
            <div class="px-5 py-2">
            {{ content }}
            </div>
          </main>
          
          <!-- footer --> 
          <div class="text-center my-5">
            <div class="list-group list-group-horizontal">
              {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'name' | sort: 'nav_order', 'first' %}
              {% for p in nav_pages %}
              <a class="list-group-item flex-fill {% if page.url == p.url %} list-group-item-primary{% else %} list-group-item-light{% endif %}" href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
              {% endfor %}
            </div>
          </div>
          {% include template/footer.html %}

        </div>
      </div>
    </div>

    {% include template/foot.html %}

  </body>

</html>