<!DOCTYPE html>
<html lang="en" >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="flex-shrink-0 p-3 bg-white" id="sidebar-wrapper">
        
        <div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">{% if site.title-icon %}{% include icon.html icon=site.title-icon %} {% endif %}{{ site.title }}</div>

        <ul class="list-unstyled ps-0">
          {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav_order and p.section == nil' | sort: 'nav_order' %}
          {% for p in nav_pages %}
          {% assign current_i = forloop.index0 %}
          <li class="mb-1">
            {% if p.section_id %}
            {% assign p_children = site.html_pages | where: 'section', p.section_id | sort: 'nav_order' %}
            {% if p.url == page.url %}
              {% assign prev_number = forloop.index0 | minus: 1 %}
              {% assign next_number = forloop.index0 | plus: 1 %}
              {% if forloop.first %}
                {% if p_children[0] %}{% assign next_page_title = p_children[0].title %}{% assign next_page_url = p_children[0].url %}
                {% else %}
                {% assign next_page_title = nav_pages[next_number].title %}{% assign next_page_url = nav_pages[next_number].url %}
                {% endif %}
              {% else %}
                {% assign prev_page = nav_pages[prev_number] %}
                {% if prev_page.section_id %}
                  {% assign prev_child = site.html_pages | where: 'section', prev_page.section_id | sort: 'nav_order' | last %}
                  {% assign prev_page_title = prev_child.title %}{% assign prev_page_url = prev_child.url %}
                {% else %}
                  {% assign prev_page_title = prev_page.title %}{% assign prev_page_url = prev_page.url %}
                {% endif %}
                {% if p_children[0] %}{% assign next_page_title = p_children[0].title %}{% assign next_page_url = p_children[0].url %}
                {% else %}
                {% unless forloop.last %}{% assign next_page_title = nav_pages[next_number].title %}{% assign next_page_url = nav_pages[next_number].url %}{% endunless %}
                {% endif %}
              {% endif %}
            {% endif %}
            <button class="btn-toggle align-items-center rounded{% unless page.section == p.section_id or page.section_id == p.section_id %} collapsed{% endunless %}" data-bs-toggle="collapse" data-bs-target="#{{ p.section_id | slugify }}-collapse" aria-expanded="{% if page.section == p.section_id or page.section_id == p.section_id %}true{% else %}false{% endif %}">
              {{ p.section_id }}
            </button>
            <div class="collapse{% if page.section == p.section_id or page.section_id == p.section_id %} show{% endif %}" id="{{ p.section_id | slugify }}-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{{ p.url | relative_url }}" class="link-dark rounded{% if page.url == p.url %} nav-active{% endif %}">{{ p.title }}</a></li>
                {% for c in p_children %}
                {% if c.url == page.url %}
                  {% assign prev_number = forloop.index0 | minus: 1 %}
                  {% assign next_number = forloop.index0 | plus: 1 %}
                  {% if forloop.last %}
                    {% if forloop.first %}
                      {% assign prev_page_title = p.title %}{% assign prev_page_url = p.url %}
                    {% else %}
                      {% assign prev_page_title = p_children[prev_number].title %}{% assign prev_page_url = p_children[prev_number].url %}
                    {% endif %}
                    {% assign next_i = current_i | plus: 1 %}
                    {% assign next_page_title = nav_pages[next_i].title %}{% assign next_page_url = nav_pages[next_i].url %}
                  {% elsif forloop.first %}
                    {% assign prev_page_title = p.title %}{% assign prev_page_url = p.url %}
                    {% assign next_page_title = p_children[next_number].title %}{% assign next_page_url = p_children[next_number].url %}
                  {% else %}
                    {% assign prev_page_title = p_children[prev_number].title %}{% assign prev_page_url = p_children[prev_number].url %}
                    {% assign next_page_title = p_children[next_number].title %}{% assign next_page_url = p_children[next_number].url %}
                  {% endif %}
                {% endif %}
                <li><a href="{{ c.url | relative_url }}" class="link-dark rounded{% if page.url == p.url %} nav-active{% endif %}">{{ c.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
            {% if p.url == page.url %}
              {% assign prev_number = forloop.index0 | minus: 1 %}
              {% assign next_number = forloop.index0 | plus: 1 %}
              {% if forloop.last %}
                {% assign prev_page_title = nav_pages[prev_number].title %}{% assign prev_page_url = nav_pages[prev_number].url %}
              {% elsif forloop.first %}
                {% assign next_page_title = nav_pages[next_number].title %}{% assign next_page_url = nav_pages[next_number].url %}
              {% else %}
                {% assign prev_page_title = nav_pages[prev_number].title %}{% assign prev_page_url = nav_pages[prev_number].url %}
                {% assign next_page_title = nav_pages[next_number].title %}{% assign next_page_url = nav_pages[next_number].url %}
              {% endif %}
            {% endif %}
            <a href="{{ p.url | relative_url }}" class="link-dark rounded {% if page.url == p.url %} nav-active{% endif %}">{{ p.title }}</a>
            {% endif %}
          </li>
          {% endfor %}
          
        </ul>

        <hr>
        {% if prev_page_title %}<p><a class="btn btn-secondary" href="{{ prev_page_url | relative_url }}">Prev: {{ prev_page_title }}</a></p>{% endif %}
        {% if next_page_title %}<p><a class="btn btn-secondary" href="{{ next_page_url | relative_url }}">Next: {{ next_page_title }}</a></p>{% endif %}

      </div>

      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <div class="container-fluid">

          <!-- Top navigation -->
          <nav aria-label="breadcrumb" class="mt-2 mb-3">
            <ol class="breadcrumb h4">
              <li class="breadcrumb-item">
                <button class="border rounded" id="sidebarToggle" title="Toggle Sidebar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg></button>
              </li>
              <li class="breadcrumb-item "><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
              {% if page.section or page.section_id %}<li class="breadcrumb-item">{{ page.section | default: page.section_id }}</li>{% endif %}
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
          </nav>

          <!-- Page content-->
          <main id="maincontent" role="main" aria-label="Content">
            <div class="px-5 py-2">
            {{ content }}
            </div>
          </main>
          
          <!-- footer -->
          {% include template/footer.html %}

        </div>
      </div>
    </div>

    {% include template/foot.html %}

  </body>

</html>